<div class="cover">
	<div class="container">
		<div class="center">
			<%= link_to new_user_registration_path do %>
				<div class="icons pull-left">
					<%=image_tag('login.png' , class: 'img-responsive')%>
				</div> 
			<% end %>
			<%= link_to problems_path do %>
				<div class="icons pull-right">
					<%=image_tag('help.png' , class: 'img-responsive')%>
				</div>
			<% end %>
		</div>
	</div>
</div>