<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to My Flight App</h1>
    <p>
Hi <%=@passenger.name%> Thanks Gor Using My Flight app 
i hope you like it ^_^ you can let me know your feedback 
mail me through topcoder52@outlook.com 
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>