<footer class="footer">
  <small>
      <ul>
     <li> <a href="http://www.theodinproject.com/ruby-on-rails/authentication">visit the project page  </a></li>
      <li><a href="http://www.theodinproject.com/">  Wanna Learn Web Development? </a></li>
     
    </ul>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.facebook.com/SenoAboAli">Facebook</a></li>
      <li><a href="https://github.com/HassanTC">Github</a></li>
     
    </ul>
  </nav>
</footer>
